$black-color:#333b3f;
$dark-black-color:#000;
$border-color: #efefef;
$white-color: #fff;
$pink-color: #ec466c;
$blue-color: #00afff;
$yellow-color: #ffb419;
$purple-color: #2a1e5c;
$green-color:#22c993;
$grey-color: #849299;
$light-grey-color: #b1babf;
$dark-grey-color: #4a5f6a;
$body-tabs-bg-color: #eef6fa;
$body-tabs-text-color: #96a5ad;
$collapse-bg-color: #eef6fa;
$border-radius: 0.25rem;
$font-weight-600: 600;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;



@mixin flexProperty {
    display: flex;
    align-items: center;
}

.flexSpaces {  
    @include flexProperty;
    justify-content: space-between;
    width: 100%;
}

.navbarIcons {
    @include flexProperty;
}



.navbarTopnav {
    & .navbarSpacing {
        margin-left: 4rem;
    }
    & .projectTitle h3 {
        color: $dark-black-color;
        font-size: 20px;
    }
    & header{ 
        background: $white-color;
    }
    & .navbarIcons {
        & .notifyIcon {
            position: relative;
            margin-right: 40px;
            & svg, & i  {
                color: $dark-grey-color;
                font-size: 16px;
            }
            &::after {   
                content: "0";
                position: absolute;
                top: -10px;
                border-radius: 50%;
                background: #22c993;
                width: 15px;
                height: 15px;
                line-height: 15px;
                color: #fff;
                font-size: 10px;
                margin: auto;
                text-align: center;
            }
        
        }

        & .userProfileName {
            @include flexProperty;
            color: $dark-grey-color;
            font-weight: $font-weight-600;
            cursor: pointer;
            font-size: 14px;

            & .userProfile {
                padding-right: 15px;
            }
        }

    }
}

.userMenuList {
    margin-top: 15px;
        & ul {
        padding: 0px;
        color: $dark-black-color;
        width: 150px;
        
        & .userIconList {
            min-width: 30px;
            & svg, & i {
                font-size: 12px;
                color: $dark-black-color;
            }
        }

        & span {
            font-size: 14px;
        }
    }
}


//responsive

@media (max-width: 576.98px) {
    .userProfileName .userProfile {
        display: none;
        
    }
}

